
<script type="text/javascript">
function docGet(entrada,eldisplay){
return document.getElementById(entrada).style.display=eldisplay;
}
function mostrar(entrada){
if(entrada === 1){
docGet('imagenes1','block');
docGet('imagenes2','none');
}
if(entrada === 2){
docGet('imagenes1','none');
docGet('imagenes2','block');
}
}
</script>

<div class=" gallery">
<div class=" item" id="imagenes1" style="display:block">
    <a href="images/_Comunicacion/lK-TK7102H-TK-8102H.png" class="zoom" title="Kenwood TK-3230" rel="portfolio">
        <img src="images/_Comunicacion/sK-TK7102H-TK-8102H.png" class="gallery-image" alt="sample image" />
        </a>
    </div>
    <div class="gallery-item" id="imagenes2" style="display:none">
        <a href="images/_ControlAcceso/lSy_iclock360.png" class="zoom" title="Terminal IClock 360" rel="portfolio">
        <img src="images/_ControlAcceso/sSy_iclock360.png" class="gallery-image" alt="sample image" />
        </a>
</div>                          
</div>





<%= render 'form2' %>
