
<!--div class="opc-menu" >						
	<div class="gallery-item" id="cred" style="display:block">
		<h1>Solicitud de Credito</h1>
	</div>	
	
	<div class="gallery-item" id="Movil" style="display:none">
	    <h1>Solicitud de Vale</h1>
	</div>												
</div-->





<%= render 'form2' %>
